# Virtual environment
myenv/
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Firebase credentials
credentials/
*.json

# Miscellaneous
.DS_Store

*.pt

dataset/

runs/

*.jpg
*.png
!extension/icons/*.png