# Firebase Integration
firebase-admin==6.3.0

# Data Validation & Serialization
pydantic==2.6.1
python-multipart==0.0.18

python-dotenv>=0.19.0
requests>=2.26.0


# Transformers library for CLIP model
transformers>=4.0.0

# PyTorch for model computation
torch>=1.7.1

# PIL (Pillow) for image processing
pillow>=10.0.0

# Ultralytics for YOLO object detection
ultralytics

colorthief

webcolors

beautifulsoup4>=4.9.0

transformers==4.38.0

fastapi
uvicorn
